


div{
	border:1px solid black;
}

#parent{
	background-color:grey;
	/*padding:50px 200px 100px 150px;*/
}


#enfant{
	background-color:gold;
/*	padding-top:150px;
	padding-right:50px;
	padding-bottom:100px;
	padding-left:75px;*/
	
	padding:150px 50px 100px 75px;
	margin:50px 200px 100px 150px;
}
	