



#img{
	background-image : url("../images/mon_image.jpg");
	height:1000px;
	width:100%;
	background-size : cover;
}

#img div{
	/*background-color:rgba(255,255,255,0.3);*/
	background : linear-gradient(#ff7575, #ffff75, #a0ff75, #5075ff, #a075ff);
	width: 50%;
    height: 52%;
    margin: auto;
}