body{
	width:80%;
	margin:auto;
}

header, main, footer{
	border:1px solid black;
}

header{
	position:sticky;
	top:0px;
}

footer{
	position:fixed;
	bottom:0px;
}

img{
	position:absolute;
	top:0px;
	right:50px;
}

main{
	position:relative;
}






