div {
    margin: auto;
    width: 400px;
    height: 400px;
    border-left: 3px solid black; 
    border-top: 10px solid green; 
    border-right: 3px solid black; 
    border-bottom: 3px brown dotted;
    border-bottom-right-radius: 70px;
}

div:hover {
    border: none;
    border-image-source: url("../images/preferences-color.png");
    border-image-slice: 10%;
    border-image-width: 10%;
    border-image-outset: 5px;
}