* {
    color: gray;
}

h2 {
    color: blue;
}

#special {
    color: red;
}

.top {
    color: green;
}

.box > p {
    color: red;
}

h3 ~ p {
    color: purple;
}

h3 + p {
    color: orange;
}

a {
    color: brown;
}

a[title] {
    color: gold;
}

a:visited {
    color: cyan;
}

h3:hover {
    border: 1px solid black;
}

.fleche a:after {
    content: "->";
    color: fuchsia;
}